.about-page {
	background-image: url("../../assets/images/about-bg.svg");
	height: fit-content;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}


