.work-card {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.work-card-height-1 {
	height: 400px;
}
.work-card-height-2 {
	height: 300px;
}

@media (max-width: 767px) {
	.work-card-height-1 {
		height: 400px !important;
	}
	.work-card-height-2 {
	height: 400px;
}
}
.work-card-1{
    background-image: url("../../../assets/images/creative-2.jpg");
}
.work-card-2{
    background-image: url("../../../assets/images/creative-1.jpg");
}

.work-card-3{
    background-image: url("../../../assets/images/creative-3.jpg");
}

.work-card-4{
    background-image: url("../../../assets/images/creative-5.jpg");
}