.card-content {
  padding: 0;
  background-color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-header, .card-body {
  padding: 10px;
}

.card-header h2, .card-body p {
  color: white;
  margin: 0;
}

.card-body img {
  max-width: 100%;
  height: auto;
}
