/* Abril fonts */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap");
/* Rubit font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

::root {
	/* --hFont: "Abril Fatface", cursive; */
	--hFont: "Work Sans", sans-serif;
	--subFont: "Poppins", sans-serif;
	--pFont: "Rubik", sans-serif;
	--altFont: "Hanken Grotesk", sans-serif;
	--drkColor: #333333;
	--blkColor: #000000;
	--maroonColor: #850000;
	--ltColor: #ffffff;
	--txtColor: #282828;
}

* {
	font-style: normal;
}

::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-thumb {
	background: var(--ltColor);
}

p {
	font-family: var(--hFont);
}

.active-btn {
  background-color: black;
  color: white !important;
}


.about-title {
	font-weight: 600;
	font-size: 10vw;
	font-family: "Abril Fatface", cursive;
}

.btn-link:hover{
	
}
.hero-title {
	font-weight: 300;
	font-size: 5vw;
	font-family: var(--hFont);
	text-transform: uppercase;
}

.sub-title {
	font-weight:100;
	font-size: 32px;
	line-height: 3rem;
	color: var(--txtColor);
	font-family: var(--hFont);
}

.px-custom{
	margin-left: 17vw;
	margin-right: 17vw;
}

@media (max-width:992px) {
	.px-custom{
	margin-left: 1vw;
	margin-right: 1vw;
}
}

small{
	font-size: 12px;
}

#innovation li{
	list-style: none;
	border-bottom: 0.1px solid grey;
}

#innovation li:hover{
	border-bottom: 2px solid #850000;
}

#innovation li p{
	cursor: pointer;
	/* font-family: var(--hFont); */
}


@media (max-width:767px) {
	#innovation .hero-title{
		text-align: center;
	}
}

.nav-link-custom {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--txtColor);
	font-family: var(--hFont);
}

.nav-link-custom:hover {
	color: var(--blkColor);
	font-weight: 700;
}

.little-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--txtColor);
	font-family: var(--hFont);
}

.w-700 {
	font-weight: 700;
	letter-spacing: 5px;
}

.sub-heading {
	font-family: "Abril Fatface", cursive;
	font-weight: 600;
}

.black-text {
	color: #000000;
}

.black-bg {
	color: #000000;
}

.maroon-text {
	color: #850000;
}

.btn-maroon {
	background-color: #850000 !important;
}

.white-text {
	color: #fff;
}

.maroon-bg {
	background-color: var(--maroonColor);
	width: auto;
}
.text-maroon {
	color: var(--maroonColor) !important;
}

.white-bg {
	background-color: var(--ltColor);
}

.custom-btn {
	/* border-radius: 30px !important; */
	color: var(--drkColor) !important;
	background: none;
	border: 1px solid black;
	cursor: pointer;
}
.text-justify {
	text-align: justify;
}

.left-justify {
	text-align: left;
}

.custom-btn:hover {
	background-color: #282828;
	color: #ffffff !important;
	border: none;
}

.custom-btn-1 {
	border-radius: 30px !important;
	color: white !important;
	background: none;
	border: 1px solid white;
	text-decoration: none;
}
.custom-btn-1:hover {
	background-color: white;
	color: black !important;
	border: none;
}


.custom-width {
	width: fit-content !important;
}
