/* Dm sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

::root {
	--font: "DM Sans", sans-serif;
	--blkColor: black;
	--mrnColor: #850000;
	--ltColor: white;
}
body {
	background-color: black;
}
.bg-maroon{
	background-color: #850000;
}
.btn-maroon{
	background-color: #850000 !important;
	color: white;
}
* {
	font-style: normal;
	font-family: var(--font) !important;
}
.mt-custom {
	margin-top: 15vh;
}
.navbar-brand {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.nav-link {
	font-size: 18px !important;
	font-weight: 500 !important;
	line-height: 22.5px !important;
}
.brand-title {
	font-size: 92px;
	font-weight: 500;
	line-height: 105.8px;
	text-shadow: 5px 5px 3px #850000, 5px 5px 3px #850000;
}

@media (max-width: 992px) {
	.brand-title {
		font-size: 63px;
		line-height: 85.8px;
		text-shadow: 3px 3px 3px #850000, 3px 3px 3px #850000;
	}
}

@media (max-width: 768px) {
	.brand-title {
		font-size: 52px;
		line-height: 65.8px;
		text-shadow: 2px 2px 2px #850000, 2px 2px 2px #850000;
	}
}

.brand-text {
	font-size: 26px;
	font-weight: 400;
	line-height: 35.75px;
}

@media (max-width: 992px) {
	.brand-text {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (max-width: 768px) {
	.brand-text {
		font-size: 16px;
		line-height: 25px;
	}
}

::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-thumb {
	background: white;
}

.title {
	font-size: 64px;
	font-weight: 500;
	line-height: 73.6px;
}

@media (max-width: 992px) {
	.title {
		font-size: 48px;
		line-height: 55.2px;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 36px;
		line-height: 41.4px;
	}
}



